<%= if logged_in?(@conn) do %>

	<%= link "#{current_user(@conn).email}", to: Routes.user_path(@conn, :show, current_user(@conn)) %>
	<%= link "Sign Out", to: Routes.session_path(@conn, :delete, :access),
		method: :delete, class: "btn btn-danger" %>

	<% else %>

	<%= link "Create an Account!", to: Routes.user_path(@conn, :new),
		class: "btn btn-info" %>
	<%= link "Sign in", to: Routes.session_path(@conn, :new),
      class: "btn btn-primary" %>

<% end %>
